@keyframes float-up {
  0% {
    transform: translateY(25vh) rotate(0deg);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70vh) rotate(var(--rot));
    opacity: 0;
  }
}

.bubble-anim {
  opacity: 0;
  animation-name: float-up;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}